body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background-color: #f7d8f8;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

#projects {
    display: grid;

    /* 2열 */
    grid-template-columns: 800px 800px;

    /* 카드 사이 간격 */
    column-gap : 30px;
    row-gap: 60px;

    max-width: 1700px;
    /*margin: 0 auto;*/
    margin-bottom: 20px;
}

.project {
    background: white;
    padding: 100px;
    
    border : 3px solid #b83dba;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.project h3 {
    text-align: center;
    text-decoration-line : underline;
}
.project p {
    background-color: #f7d8f8;
}

.project iframe {
    width: 600px;
    height: 400px;
    border: 1px solid #000000;
}
